In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV created in part two into a DataFrame.
vacation_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_data_df.head()

,Unnamed: 0,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,12,Buchanan,LR,76.35,light rain,5.88,-10.05,Kamaneahn Hotel Inc
1,19,Kapit,MY,76.84,light rain,2.02,112.93,Hotel Meligai Kapit
2,38,Vaini,TO,78.80,scattered clouds,-21.20,-175.20,Keleti Beach Resort
3,48,Kutum,SD,76.41,clear sky,14.20,24.67,Dibbo areaمنطقة دبو
4,56,Avarua,CK,77.00,few clouds,-21.21,-159.78,Paradise Inn

In [3]:
# From the vacation search map, choose four cities that 
# a customer might want to visit. They should be close 
# together and on the same continent.

In [4]:
Destinations = ['Shenjiamen', 'Wuxue', 'Jiexiu', 'Yining']
Destinations

['Shenjiamen', 'Wuxue', 'Jiexiu', 'Yining']