In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Rain,Snow
0,0,Jamestown,US,42.10,-79.24,70.00,88,40,6.93,light rain,0.76,0.0
1,1,Baykit,RU,61.67,96.37,70.25,57,89,1.59,overcast clouds,0.00,0.0
2,2,Lebu,CL,-37.62,-73.65,49.03,77,14,6.76,few clouds,0.00,0.0
3,3,Rikitea,PF,-23.12,-134.97,69.51,58,54,16.06,broken clouds,0.00,0.0
4,4,Pisco,PE,-13.70,-76.22,63.00,82,20,4.70,few clouds,0.00,0.0

In [3]:
city_data_df.dtypes

City_ID          int64
City            object
Country         object
Lat            float64
Lng            float64
Max Temp       float64
Humidity         int64
Cloudiness       int64
Wind Speed     float64
Description     object
Rain           float64
Snow           float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

Heat map of temperature

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Adjust Heatmap Zoom, Intensity, and Point Radius

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable using list comprehension
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable using list comprehension
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Heat map of Humidity

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Heat map of Cloudiness

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Heat map of Wind Speed

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

6.5.3 Get Vacation criteria

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
Rain_True = str(input("Do you like want it to be raining? (yes/no) "))
Snow_True = str(input("Do you like want it to be raining? (yes/no) "))

Do you like want it to be raining? (yes/no) no
Do you like want it to be raining? (yes/no) no

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Rain,Snow
12,12,Buchanan,LR,5.88,-10.05,76.35,89,100,5.91,light rain,0.14,0.0
19,19,Kapit,MY,2.02,112.93,76.84,93,100,0.81,light rain,0.45,0.0
38,38,Vaini,TO,-21.20,-175.20,78.80,83,40,10.29,scattered clouds,0.00,0.0
48,48,Kutum,SD,14.20,24.67,76.41,17,0,7.38,clear sky,0.00,0.0
56,56,Avarua,CK,-21.21,-159.78,77.00,69,21,14.99,few clouds,0.00,0.0
62,62,Tamandare,BR,-8.76,-35.10,76.75,81,38,10.02,scattered clouds,0.00,0.0
69,69,Anloga,GH,5.79,0.90,78.80,88,20,5.82,few clouds,0.00,0.0
73,73,Puerto Salgar,CO,5.46,-74.65,79.45,69,95,0.60,overcast clouds,0.00,0.0
75,75,Shimoda,JP,34.67,138.95,77.00,73,75,8.05,broken clouds,0.00,0.0
78,78,Sao Filipe,CV,14.90,-24.50,78.44,71,0,10.69,clear sky,0.00,0.0

In [16]:
preferred_cities_df.count()

City_ID        72
City           72
Country        72
Lat            72
Lng            72
Max Temp       72
Humidity       72
Cloudiness     72
Wind Speed     72
Description    72
Rain           72
Snow           72
dtype: int64

In [17]:
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
Rain           0
Snow           0
dtype: int64

In [18]:
preferred_cities_df.notnull().sum()

City_ID        72
City           72
Country        72
Lat            72
Lng            72
Max Temp       72
Humidity       72
Cloudiness     72
Wind Speed     72
Description    72
Rain           72
Snow           72
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
12,Buchanan,LR,76.35,light rain,5.88,-10.05,
19,Kapit,MY,76.84,light rain,2.02,112.93,
38,Vaini,TO,78.80,scattered clouds,-21.20,-175.20,
48,Kutum,SD,76.41,clear sky,14.20,24.67,
56,Avarua,CK,77.00,few clouds,-21.21,-159.78,
62,Tamandare,BR,76.75,scattered clouds,-8.76,-35.10,
69,Anloga,GH,78.80,few clouds,5.79,0.90,
73,Puerto Salgar,CO,79.45,overcast clouds,5.46,-74.65,
75,Shimoda,JP,77.00,broken clouds,34.67,138.95,
78,Sao Filipe,CV,78.44,clear sky,14.90,-24.50,

Section 6.5.4 Mapping Vacation Criteria

In [20]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [23]:
#hotels

In [24]:
len(hotels["results"])

20

In [25]:
hotels["results"][0]["name"]

'Hôtel Duo'

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
12,Buchanan,LR,76.35,light rain,5.88,-10.05,Kamaneahn Hotel Inc
19,Kapit,MY,76.84,light rain,2.02,112.93,Hotel Meligai Kapit
38,Vaini,TO,78.80,scattered clouds,-21.20,-175.20,Keleti Beach Resort
48,Kutum,SD,76.41,clear sky,14.20,24.67,Dibbo areaمنطقة دبو
56,Avarua,CK,77.00,few clouds,-21.21,-159.78,Paradise Inn
...,...,...,...,...,...,...,...
509,Padang,ID,75.76,moderate rain,-0.95,100.35,Mercure Padang
518,Djougou,BJ,77.00,clear sky,9.71,1.67,Hotel cathas
521,Mabaruma,GY,75.88,overcast clouds,8.20,-59.78,
524,Mareeba,AU,77.00,clear sky,-17.00,145.43,Trinity Plains Tourist Park
530,Ginda,IN,77.00,haze,30.69,78.49,Bherav Hotel Manpur

Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather Description</dt><dd>{Description} {Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))