In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2020-06-22 23:48:03,-42.88,147.33,55.00,93,75,19.46
1,1,Puerto Quijarro,BO,2020-06-22 23:50:27,-17.78,-57.77,76.39,51,82,1.39
2,2,Fortuna,US,2020-06-22 23:41:48,40.60,-124.16,72.00,68,20,11.41
3,3,Caravelas,BR,2020-06-22 23:37:28,-17.71,-39.25,69.40,80,3,2.91
4,4,Gold Coast,AU,2020-06-22 23:46:59,-28.00,153.43,61.00,58,0,9.17

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

Heat map of temperature

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Adjust Heatmap Zoom, Intensity, and Point Radius

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable using list comprehension
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable using list comprehension
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Heat map of Humidity

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Heat map of Cloudiness

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Heat map of Wind Speed

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

6.5.3 Get Vacation criteria

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Quijarro,BO,2020-06-22 23:50:27,-17.78,-57.77,76.39,51,82,1.39
5,5,Praia,CV,2020-06-22 23:41:37,14.92,-23.51,78.80,74,0,16.11
21,21,Avarua,CK,2020-06-22 23:36:11,-21.21,-159.78,77.00,69,22,17.22
43,43,Vaini,TO,2020-06-22 23:40:50,-21.20,-175.20,78.80,83,40,10.29
46,46,Birao,CF,2020-06-22 23:38:42,10.28,22.79,78.93,65,1,7.45
57,57,Bengkulu,ID,2020-06-22 23:38:17,-3.80,102.27,75.60,91,100,6.73
92,92,Anloga,GH,2020-06-22 23:50:46,5.79,0.90,78.80,88,20,5.82
93,93,Georgetown,MY,2020-06-22 23:36:52,5.41,100.34,77.00,100,20,4.05
123,123,Sao Filipe,CV,2020-06-22 23:42:09,14.90,-24.50,77.94,72,0,13.53
125,125,Humberto De Campos,BR,2020-06-22 23:50:53,-2.60,-43.46,76.50,83,4,2.98

In [15]:
preferred_cities_df.count()

City_ID       65
City          65
Country       65
Date          65
Lat           65
Lng           65
Max Temp      65
Humidity      65
Cloudiness    65
Wind Speed    65
dtype: int64

In [16]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [17]:
preferred_cities_df.notnull().sum()

City_ID       65
City          65
Country       65
Date          65
Lat           65
Lng           65
Max Temp      65
Humidity      65
Cloudiness    65
Wind Speed    65
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp    Lat     Lng Hotel Name
1       Puerto Quijarro      BO     76.39 -17.78  -57.77
5                 Praia      CV     78.80  14.92  -23.51
21               Avarua      CK     77.00 -21.21 -159.78
43                Vaini      TO     78.80 -21.20 -175.20
46                Birao      CF     78.93  10.28   22.79
57             Bengkulu      ID     75.60  -3.80  102.27
92               Anloga      GH     78.80   5.79    0.90
93           Georgetown      MY     77.00   5.41  100.34
123          Sao Filipe      CV     77.94  14.90  -24.50
125  Humberto De Campos      BR     76.50  -2.60  -43.46

Section 6.5.4 Mapping Vacation Criteria

In [19]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [22]:
#hotels

In [23]:
len(hotels["results"])

20

In [24]:
hotels["results"][0]["name"]

'Hôtel Duo'

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Puerto Quijarro,BO,76.39,-17.78,-57.77,Hotel palance
5,Praia,CV,78.80,14.92,-23.51,LT Aparthotel
21,Avarua,CK,77.00,-21.21,-159.78,Paradise Inn
43,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
46,Birao,CF,78.93,10.28,22.79,
...,...,...,...,...,...,...
493,Natal,BR,75.20,-5.79,-35.21,Villa Park Hotel | Natal
507,Carutapera,BR,75.52,-1.20,-46.02,Lidera
512,Langsa,ID,75.42,4.47,97.97,OYO 2964 Hotel Ridho
536,Tatawin,TN,75.20,32.93,10.45,Sangho Privilege Tataouine
543,Kashima,JP,75.20,33.11,130.09,Sky Tower Hotel

Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))